################################################################################
#THIS FILE CONTAINS THE VARIABLES USED BY THE MEDDLE DAEMON AND THE SCRIPTS
#The format for each line is as follows
#variableName=variableValue
### Note that there is no space in name=variable because these variables are 
### refered to in shell scripts
#################### DIRECTORY STRUCTURE #######################################
### The directory structure 
MEDDLE_ROOT="/data/"
MEDDLE_ETC=${MEDDLE_ROOT}/"etc"
MEDDLE_IPSEC_LIB=${MEDDLE_ROOT}/"usr/lib/ipsec/"

#################### DEVICE NAME AND IP ENTRIES ################################
### The name of the devices
tunDeviceName=tun0
ethDeviceName=eth101

### The network and gateway of the ethernet device
ethIpNetSlash=128.208.4.0/24
ethIpGateway=128.208.4.100

### The IP address, netmask, and network of the tunnel device.
### Note this should be changed if using IPv6
### The / notation is required for the scripts that update the routing tables. 
tunIpAddress=10.11.101.101
tunIpNetmask=255.0.0.0
tunIpNetSlash=10.0.0.0/8

# The address range used to loop the packets via the tunnel device. 
# The / notation is required for the scripts that update the routing tables. 
tunRouteNetmask=255.255.0.0
tunFwdPathNet=10.11.0.0
tunRevPathNet=10.101.0.0
tunFwdPathNetSlash=10.11.0.0/16
tunRevPathNetSlash=10.101.0.0/16

####################### AD BLOCKING DNS ENTRIES ################################
# The IP address of the DNS server mentioned in MEDDLE_ROOT/etc/strongswan.conf
fltrDefaultDNS=138.96.0.10 
# The IP address of the DNS server filtering ad and analytic sites 
fltrAdBlockDNS=138.96.196.54  

####################### MESSAGE HANDLERS #######################################
#Message Handler
msgSockPort=14108
msgSockIpAddress=127.0.0.1

####################### DATABASE PARAMETERS ####################################
dbServer=localhost
dbUserName=meddle
dbPassword=meddle
dbName=MeddleDB
