################################################################################
#THIS FILE CONTAINS THE VARIABLES USED BY THE MEDDLE DAEMON AND THE SCRIPTS
#The format for each line is as follows
#variableName="variableValue"
## Note that there is no space in name="variable" because these variables are 
## refered to in shell scripts and a crude python parser. Please make sure
## that all variables begin and end with a double quote. The simple parsers used 
## do not support strings with an escapted double quote such as "Hello\"Bye" 
#################### DIRECTORY STRUCTURE #######################################
# The location where are meddle specific files will be deployed. This field
# can be left unchanged. 
MEDDLE_ROOT="/opt/meddle/"
####################### DATABASE PARAMETERS ####################################
# The parameters to the mysql database. All fields other than dbPassword can be
# used as is. 
# dbServer is the hostname of the server running mysql 
dbServer="localhost"
# The name of the database where the schema is present.
dbName="MeddleDB"
# The credentials to access the database.
dbUserName="meddle"
# Edit the password 
dbPassword="meddle"
####################### AD BLOCKING DNS ENTRIES ################################
# The IP address of the default DNS server to be used
# This address shall be present in the MEDDLE_ROOT/etc/strongswan.conf 
fltrDefaultDNS="192.168.1.1"
# Ad blocking is currently DNS based. This field contains the IP address of the 
# DNS server filtering ad and analytic sites 
fltrAdBlockDNS="192.168.1.11"
#################### NETWORK DEVICE NAME AND IP ENTRIES ########################
# The name of the device that is connected to the the internet. 
# Please specify the values and do not use SHELL variables in the value field
# For example ethDeviceName=${myVar} is not supported. 
ethDeviceName="wlan1"
# The network and gateway of the ethernet device. 
ethIpNetSlash="192.168.1.0/24"
ethIpGateway="192.168.1.1"
####################### WEBSERVER PARAMETERS ####################################
# The port number on which the webserver listens to HTTP requests
webServerPort="80"
# The hostname. Please specify the hostname without any shell variables
webServerHost="meddle.cs.washington.edu" 
# The absolute path where the *.html pages are placed without shell variables
webPagesStaticPath="/opt/meddle/WebPages/"
####################### CERTIFICATE PARAMETERS ##################################
# Note: Shell variables may be used to define certificate parameters
ipsecBin="${MEDDLE_ROOT}/usr/sbin/ipsec"
signingCertsPath="${MEDDLE_ROOT}/SigningCerts/"
clientCertsPath="${MEDDLE_ROOT}/ClientCerts/"
caOrg="Meddle"
caCountry="US"
caName="Meddle CA"
caKeyName="MeddleCAKey.pem"
caCertName="MeddleCACert.pem"
serverCertName="MeddleServerCert.pem"
serverKeyName="MeddlerServerKey.pem"
# Please write the complete hostname - do not use shell variables here
# This step may look redundant but it shall help in the long run!
serverHostname="meddle.cs.washington.edu"
# The following variables are required for the .mobileconfig file for iOS users
# The organization that is generating the .mobileconfig file
mobileConfigOrgName="University of Washington CSE" 
# The name of connection as seen in the profiles
mobileConfigConDisplayName="Meddle VPN" 
mobileConfigServerHostname="${serverHostname}"
################################################################################
# The rest of the parameters can be used as is. They need to be changed if
# 1. The machine or the clients are present in the 10.11.x.x network!
# 2. You wish to use separate set of gpg keys to protect the files. 
# 3. tcpdump and gpg are installed in locations other than those specified.
# 4. the pcap files need to be stored in a folder other than the one mentioned.
####################### PACKET CAPTURE PARAMETERS ##############################
# The variables used for capturing the packets and encrypting the pcap files
tcpdumpBinPath="/usr/sbin/tcpdump"
gpgBinPath="/usr/bin/gpg"
gpgHome="${MEDDLE_ROOT}/gpg"
gpgPublicKeyRing="${gpgHome}/Meddle.key"
gpgPublicKeyID="Meddle"
pcapDataPath="${MEDDLE_ROOT}/pcap-data/"
#################### TUNNEL DEVICE NAME AND IP ENTRIES #########################
# This device is created by the process. All the packets that arrive from the 
# VPN pass through this device. We also nat the packets traversing this device
# to ensure that a packet traverses this devices only once. 
tunDeviceName="tun0"
# The IP address, netmask, and network of the tunnel device.
# Note this does not work while using IPv6
# The / notation is required for the scripts that update the routing tables. 
tunIpAddress="10.11.101.101"
tunIpNetmask="255.0.0.0"
tunIpNetSlash="10.0.0.0/8"
# The address range used to loop the packets via the tunnel device. 
# The tun device internally nats the packets to identify the direction of 
# packets. For example, packets from mobile device have 10.11 address
# while packets exiting the tun device to webservice will have 10.101 address
# The / notation is required for the scripts that update the routing tables. 
tunRouteNetmask="255.255.0.0"
tunFwdPathNet="10.11.0.0"
tunRevPathNet="10.101.0.0"
tunFwdPathNetSlash="10.11.0.0/16"
tunRevPathNetSlash="10.101.0.0/16"
# The prefix for all mobile clients (iOS & Android)
tunClientIpNetPrefix="10.11"
# The networks for iOS, Android, and test devices (always ON Android).
tunClientIOSNetwork="10.11.1.2/24"
tunClientAndroidNetwork="10.11.2.2/24"
tunClientTestNetwork="10.11.3.2/23"

####################### MESSAGE HANDLERS #######################################
# The IP and port on which Meddle listens to notification messages 
# for device up/down and config change 
msgSockPort="19937"
msgSockIpAddress="127.0.0.1"
# Shell variables can be used for these path variables because they are 
# accessed from shell scripts
msgConfigChangePath="${MEDDLE_ROOT}/usr/sbin/SignalConfigChange"
msgSignalUserUpDownPath="${MEDDLE_ROOT}/usr/sbin/SignalUserUpDown"
####################### OTHER PATH VARIABLES ####################################
# Shell variables can be used here
MEDDLE_ETC="${MEDDLE_ROOT}/etc"
MEDDLE_IPSEC_LIB="${MEDDLE_ROOT}/usr/lib/ipsec/"
MEDDLE_LOG_PATH="${MEDDLE_ROOT}/logs"
